<main id="top" class="masthead" role="main">
  <div class="container"> 
    <!-- Startup Logo -->
    
    <!-- Hero Title -->
 <div class="col-centered2" style="max-width: 650px; text-align: left;">
  <div class="col-md-12" style="padding: 15px; background-color: #fff;">
  <div class="logo-signup" style="text-align: center; padding:0px; margin: 0px;"> <a href="/"><img class="logo" src="https://s3.amazonaws.com/atlmaps-prod/assets/images/am-logo3-ebca1416fa866a876b0ca5955c5b9cef.png" width="100"></a><p style="font-size: 32px;">ATLMaps</p></div>
  <h1 style="color: #337ab7;">Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-horizontal") do |f| %>
  <div class="field">
    <%= f.label :email, class: "signup-label", style: "color: #337ab7;" %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control input-lg"   %>
  </div>

  <div class="field">
    <%= f.label :password, class: "signup-label", style: "color: #337ab7;" %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg"   %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field col-xs-12" style='padding-left:0px'>
    <%= f.label :remember_me, class: "control-label col-xs-3 signup-label", style: "color: #337ab7; padding-left:0px; margin-top:10px;" %>
      <%= f.check_box :remember_me, class: "col-xs-9", style: 'margin-top: 16px; padding-left:0px' %>
      
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-warning btn-lg "  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
</main>